
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTicket</title>
</head>
<body>
    <div>
        Id:  @ViewBag.Id
    </div>
    <div>
        ControllerName: @ViewBag.ControllerName
    </div>
    <div>
        ActionMethod: @ViewBag.ActionMethod
    </div>

</body>
</html>
